@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Welcome to Bleakwind Buffett</h1>
    <p>We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim. Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure and earned your loot, so spend it with us!.</p>
    <p class="combo">Combo Special: Purchase any combination of an Entree, Side, and Drink for $1 off your order!</p>
    <p class="soda-flavors">
        Sailor Soda Flavors: Blackberry, Cherry, Grapefruit, Lemon, Peach, Watermelon
    </p>
</div>

<form>

    
    <div class="filter">
        <h4 style="float: left; padding-right: 30px">Price</h4>
        Between
        <input name="PriceMin" type="number" min="0" max="100" step="0.1" placeholder="min" />
        and
        <input name="PriceMax" type="number" min="0" max="100" step="0.1" placeholder="max" />


    </div>
    
    <div class="filter">
        <h4 style="float: left; padding-right: 30px">Calories</h4>
        Between
        <input name="CaloriesMin" type="number" min="0" max="1000" step="0.1" placeholder="min" />
        and
        <input name="CaloriesMax" type="number" min="0" max="1000" step="0.1" placeholder="max" />
    </div>

    @foreach (String foodType in BleakwindBuffet.Data.Menu.FoodTypes) {
        <label>
            <input type="checkbox" name="FoodTypes" value="@foodType" checked="@Model.FoodTypes.Contains(foodType)" />
            @foodType
        </label>
    }
    <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
    <input type="submit" value="Search">


</form>


    
<div class="flex-columns">
    <div>
        <h1>Entrees</h1>
        @foreach (BleakwindBuffet.Data.IOrderItem item in Model.OrderItems) {
            var entree = item as BleakwindBuffet.Data.Entrees.Entree;
            if (entree != null) {
                <div class="orderitem">
                    <p class="lead">@item.ToString()</p>
                    <p>Price: $@item.Price</p>
                    <p>Calories: @item.Calories</p>
                    <p>Description: @item.Description</p>
                </div>
            }
        }
    </div>
    <div>
        <h1>Sides</h1>
        @foreach (BleakwindBuffet.Data.IOrderItem item in Model.OrderItems) {
            var side = item as BleakwindBuffet.Data.Side;
            if (side != null) {
                <div class="orderitem">
                    <p class="lead">@item.ToString()</p>
                    <p>Price: $@item.Price</p>
                    <p>Calories: @item.Calories</p>
                    <p>Description: @item.Description</p>
                </div>
            }
        }
    </div>
    <div>
        <h1>Drinks</h1>
        @foreach (BleakwindBuffet.Data.IOrderItem item in Model.OrderItems) {
            var drink = item as BleakwindBuffet.Data.Drinks.Drink;
            if (drink != null) {
                <div class="orderitem">
                    <p class="lead">@item.ToString()</p>
                    <p>Price: $@item.Price</p>
                    <p>Calories: @item.Calories</p>
                    <p>Description: @item.Description</p>
                </div>
            }
        }
    </div>











